body {
    background-color: #f0f8ff;
    font-family: sans-serif;
    margin: 0px;
}

header {
    background-color: #4fc3f7;
    border-bottom: 5px solid orange;
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 42px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

header p {
    font-size: 18px;
}

nav {
    text-align: center;
    margin: 20px;
    padding: 15px;
    background-color: #e3f2fd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
    color: #01579b;
    margin: 15px;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
}

a:hover {
    background-color: #4fc3f7;
    color: white;
}

img {
    width: 350px;
    border-radius: 15px;
    border: 5px solid #4fc3f7;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-right: 30px;
}

h2 {
    color: #01579b;
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid orange;
    padding-bottom: 10px;
}

div {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 2px solid #e3f2fd;
    background-color: white;
    margin: 20px;
    padding: 25px;
}

.content {
    display: flex;
    margin: 20px 0px;
}

table {
    border: 1px solid #4fc3f7;
    background-color: #e3f2fd;
    border-collapse: collapse;
}

td {
    border: 1px solid #4fc3f7;
}

footer {
    background-color: #4fc3f7;
    border-top: 5px solid orange;
    text-align: center;
    color: white;
    padding: 25px;
    margin-top: 50px;
}
